{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Django Tailwind</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
  </head>

  <body class=" font-serif leading-normal tracking-normal">
    <div class="container mx-auto">
      <section class="flex items-center justify-center h-screen">
        <h1 class="bg-orange-500 text-5xl">Django+ Tailwind = ❤️</h1>
        <p class='text-10xl'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolore praesentium mollitia dolores officiis molestias nobis labore inventore eveniet vero totam atque, rerum nostrum laudantium hic illo. Iusto ab odio nam autem.</p>
      </section>
    </div>
  </body>
</html>
